html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.layout-fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.layout-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.layout, .layout-column, .layout-row {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
}



.live-editor {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    
    display: flex;
}

.firepad {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
}

#userlist {
    
}
#firepad-container {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}
#md-preview {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    border-left: 1px solid black;
}
.plugins {
    position: absolute;
    top: 0;
	right: 20px;
	margin: 5px;
	z-index: 50;
}

@media only screen and (max-width: 599px) and (min-width: 0) {
    #md-preview {
        display: none;
    }
}

/*html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	position: relative;
}

.live-editor.preview-only {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow: auto;
	height: auto;
}

.preview-only #userlist {
	display: none;
}

.preview-only #md-preview {
	float: none;
	margin: auto;
	z-index: 90000;
	width: 100%;
	height: 100%;
	background-color: white;
	padding: 40px;
	max-width: 800px;
	border: none;
	overflow: none;
}

.preview-only .firepad {
	display: none;
}

.firepad {
	width: 50%;
	float: left;
}

#firepad-container {
	width: 100%;
	height: 100%;
}

#md-preview {
	width: 48%;
	height: 100%;
	float: right;
	border-left: 1px solid black;
	overflow: auto;
	padding: 10px;
	z-index: 5;
}

.live-editor {
	width: 100%;
	height: 100%;
}

#splash {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: white;
	opacity: 0.75;
}

.contener_loader_19 {
	position: absolute;
	margin-left: 50%;
	left: -50px;
	margin-top: -50px;
	top: 50%;
}
.contener_loader_19 {
	width: 100px;
	height: 100px
}

.rond_max_19 {
	width: 100px;
	height: 100px;
	background-image: url(img/cube_3d_big1406731677.png);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-animation: anim_max 1.4s infinite linear;
	-moz-animation: anim_max 1.4s infinite linear;
	-ms-animation: anim_max 1.4s infinite linear;
	-o-animation: anim_max 1.4s infinite linear;
	animation: anim_max 1.4s infinite linear
}

.rond_min_19 {
	width: 100px;
	height: 100px;
	background-image: url(img/cube_3d_mini1406731677.png);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-animation: anim_min 1.4s infinite linear;
	-moz-animation: anim_min 1.4s infinite linear;
	-ms-animation: anim_min 1.4s infinite linear;
	-o-animation: anim_min 1.4s infinite linear;
	animation: anim_min 1.4s infinite linear
}

@-webkit-keyframes anim_max {
	0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg)
	}
	100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg)
	}
}

@-webkit-keyframes anim_min {
	0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg)
	}
	100% {
	-webkit-transform: rotate(-720deg);
	-moz-transform: rotate(-720deg);
	-ms-transform: rotate(-720deg);
	transform: rotate(-720deg)
	}
}

@-moz-keyframes anim_max {
	0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg)
	}
	100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg)
	}
}

@-moz-keyframes anim_min {
	0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg)
	}
	100% {
	-webkit-transform: rotate(-720deg);
	-moz-transform: rotate(-720deg);
	-ms-transform: rotate(-720deg);
	transform: rotate(-720deg)
	}
}

@-ms-keyframes anim_max {
	0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg)
	}
	100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg)
	}
}

@-ms-keyframes anim_min {
	0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg)
	}
	100% {
	-webkit-transform: rotate(-720deg);
	-moz-transform: rotate(-720deg);
	-ms-transform: rotate(-720deg);
	transform: rotate(-720deg)
	}
}

@keyframes anim_max {
	0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg)
	}
	100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg)
	}
}

@keyframes anim_min {
	0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg)
	}
	100% {
	-webkit-transform: rotate(-720deg);
	-moz-transform: rotate(-720deg);
	-ms-transform: rotate(-720deg);
	transform: rotate(-720deg)
	}
}*/

/*Prettyprint*/
/*
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
	list-style-type: decimal !important;
}*/
/* Docs page*/
/*
#md-preview img {
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

#md-preview p {
	text-align: justify;
}

#md-preview code {
	white-space: pre-wrap;
}

.atoc {
	-webkit-transition: background-color ease-in-out .15s, color ease-in-out .15s, border-color ease-in-out .15s;
	transition: background-color ease-in-out .15s, color ease-in-out .15s, border-color ease-in-out .15s;
	color: rgba(102, 128, 153, 0.15);
	text-decoration: none;
}

.atoc:hover {
	color: #008cba !important;
	text-decoration: none;
}

.atoc:hover,
.atoc:focus {
	text-decoration: none;
}

.plugins {
	position: absolute;
	top: 0;
	right: 20px;
	margin: 5px;
	z-index: 50;
}*/